alembic==1.7.4
Brotli==1.0.9
click==7.1.2
cloudpickle==2.0.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.11.0
Flask==1.1.4
Flask-Compress==1.10.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
fsspec==2021.11.0
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
locket==0.2.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.2
partd==1.2.0
plotly==5.3.1
pyparsing==2.4.7
python-dotenv==0.19.0
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.26
tenacity==8.0.1
toolz==0.11.2
Werkzeug==1.0.1
