.write-review__close {
    width: 40px;
    height: 40px;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    line-height: 40px;
    color: rgb(224, 224, 224);
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.write-review__product {
    display: flex;
    padding: 0px 40px 0px 0px;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 32px;
}

.write-review__inner {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    -ms-flex-align: center;
    align-items: center;
}

.iDkoLc {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 99;
    width: 100%;
    padding: 0px 13px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(242 242 242) 0px -1px 0px inset;
}

.write-review__heading {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 12px;
}

.write-review__product-name {
    font-size: 14px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0%;
    -ms-flex-align: center;
}

.write-review__stars {
    text-align: center;
}

.write-review__input {
    border: 1px solid rgb(238, 238, 238);
    padding: 12px;
    border-radius: 4px;
    resize: none;
    width: 100%;
    outline: 0px;
    margin: 24px 0px 12px;
}


/* .write-review__buttons {
    flex: 1 1 0%;
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 16px;
    margin: 12px 0px 0px;
} */

.write-review__file {
    position: absolute;
    height: 0px;
    width: 0px;
    visibility: hidden;
    opacity: 0;
    clip: rect(0px, 0px, 0px, 0px);
}

.write-review__button--image {
    color: rgb(11, 116, 229);
    border: 1px px solid rgb(11, 116, 229);
    width: 49%;
    height: 36px;
    border: 0px;
    padding: 0px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
}

.write-review__button--submit {
    background-color: rgb(11, 116, 229);
    color: rgb(255, 255, 255);
    width: 49%;
    height: 36px;
    border: 0px;
    padding: 0px;
    line-height: 36px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: 0px;
}

.write-review__buttons {
    flex: 1 1 0%;
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 16px;
    margin: 12px 0px 0px;
}