<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Rating.css') }}">
</head>

<body>
    <form class="write-review__inner">

        <div>
            <div class="row center">
                <div class="headerBackOnly__Left-a64b3p-1 iNBqTw"><button title="Back"><img src="https://weeboo.vn/icons/header/icon-back.svg" alt="back"></button></div>
                <div class="headerBackOnly__Center-a64b3p-2 dIrkmz" style="margin-left: 16px;">
                    <h1>Rating</h1>
                </div>
                <div class="headerBackOnly__Right-a64b3p-3 kDPKmZ"></div>
            </div>
        </div>


        <div class="write-review__heading">Vui lòng đánh giá</div>
        <div class="write-review__stars"><span class="write-review__star"><svg xmlns="http://www.w3.org/2000/svg"
                    width="36" height="36" viewBox="0 0 32 32">
                    <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                    </path>
                </svg></span>
            <span class="write-review__star"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 32 32">
                    <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                    </path>
                </svg></span>
            <span class="write-review__star"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 32 32">
                    <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                    </path>
                </svg></span>
            <span class="write-review__star"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 32 32">
                    <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                    </path>
                </svg></span>
            <span class="write-review__star"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                    viewBox="0 0 32 32">
                    <path fill="none" fill-rule="evenodd" stroke="#FFB500" stroke-width="1.5"
                        d="M16 1.695l-4.204 8.518-9.401 1.366 6.802 6.631-1.605 9.363L16 23.153l8.408 4.42-1.605-9.363 6.802-6.63-9.4-1.367L16 1.695z">
                    </path>
                </svg></span>
        </div><textarea rows="8" placeholder="Chia sẻ thêm thông tin sản phẩm" class="write-review__input"></textarea>
        <div class="write-review__buttons"><input class="write-review__file" type="file" multiple=""><button type="button" class="write-review__button write-review__button--image"><img
                    src="https://salt.tikicdn.com/ts/upload/1b/7a/3b/d8ff2d5d709c730e12e11ba0b70a1285.jpg"><span>Thêm
                    ảnh</span></button>
            <button type="submit" class="write-review__button write-review__button--submit"><span>Gửi đánh
                    giá</span></button>
        </div>
    </form>
</body>

</html>