<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Feedback.css') }}">
    <style data-styled="active" data-styled-version="5.2.0"></style>
</head>

<body>
    <div class="FeedbackPage__Root-sc-1ntayct-0 pvbyx">
        <div>
            <div class="row center">
                <div class="headerBackOnly__Left-a64b3p-1 iNBqTw"><button title="Back"><img src="https://weeboo.vn/icons/header/icon-back.svg" alt="back"></button></div>
                <div class="headerBackOnly__Center-a64b3p-2 dIrkmz" style="margin-left: 16px;">
                    <h1>Feedback</h1>
                </div>
                <div class="headerBackOnly__Right-a64b3p-3 kDPKmZ"></div>
            </div>
        </div>
        <section class="FeedbackPage__Container-sc-1ntayct-1 dBGuRR">
            <div class="FeedbackPage__Description-sc-1ntayct-2 bulnwD">
                <p>Vui lòng để lại góp ý của bạn tại đây để chúng tôi có thể cải thiện ứng dụng và phục vụ bạn tốt hơn. </p>
            </div>
            <div class="FeedbackPage__Info-sc-1ntayct-3 lcOAIe">
                <div class="FeedbackPage__InfoItem-sc-1ntayct-4 eioZGU">
                    <div class="FeedbackPage__InfoInput-sc-1ntayct-5 iuGXOm"><textarea class="full" placeholder="Nhập nội dung góp ý"></textarea></div>
                    <p class="error"></p>
                </div>
                <div class="FeedbackPage__InfoItem-sc-1ntayct-4 eioZGU">
                    <div class="FeedbackPage__InfoInput-sc-1ntayct-5 iuGXOm"><img class="icon" src="https://weeboo.vn/icons/feedbackPage/icon-mail.png" alt=""><input type="text" placeholder="Địa chỉ email của bạn" value=""></div>
                    <p class="error"></p>
                </div>
                <div class="FeedbackPage__InfoItem-sc-1ntayct-4 eioZGU">
                    <div class="FeedbackPage__InfoInput-sc-1ntayct-5 iuGXOm"><img class="icon" src="https://weeboo.vn/icons/feedbackPage/icon-phone.png" alt=""><input type="text" placeholder="Số điện thoại của bạn" value=""></div>
                    <p class="error"></p>
                </div>
            </div><button disabled="" class="FeedbackPage__SubmitButton-sc-1ntayct-7 efMtyu">Gửi</button></section>
    </div>
</body>

</html>